salah {
  grid-area: salah;
  background-color: rgb(38, 38, 63);
  align-items: center;
  text-align: center;
  font-size: 39px;
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}