header {
  grid-area: header;
  background-color: rgb(6, 126, 239);
  align-items: center;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 40px;
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}